{
  "io": {
    "inputPath": "./in.jar",
    "outputPath": "./out.jar",
    "dependenciesPath": "./libs"
  },
  "exclusions": [],
  "packer": {
    "enable": false,
    "mainClassName": "",
    "bootstrapClassName": ""
  },
  "constants": {
    "enable": false,
    "constantArray": true,
    "splitStrings": true,
    "strings": false,
    "numbers": false
  },
  "flow": {
    "enable": true,
    "minDispatcherChainLength": 1,
    "maxDispatcherChainLength": 3
  },
  "references": {
    "enable": false,
    "proxy": false,
    "proxyMinDepth": 1,
    "proxyMaxDepth": 3,
    "encrypt": false,
    "encryptMethodCalls": false,
    "encryptFieldAccess": false
  }
}