{
  "io": {
    "inputPath": "./in.jar",
    "outputPath": "./out.jar",
    "dependenciesPath": "./libs"
  },
  "exclusions": [],
  "entryPoints": {
    "fromManifest": true,
    "custom": {}
  },
  "rename": false,
  "salt": false,
  "classInitOrder": [
    [
      "class/initializedFirst/name",
      "class/initializedAfter/name"
    ],
    [
      "class/initializedFirst/name",
      "otherClass/initializedAfter/name"
    ]
  ],
  "constants": {
    "enable": false,
    "constantArray": false,
    "splitStrings": false,
    "strings": false,
    "numbers": false
  },
  "mba": {
    "enable": false,
    "minPasses": 1,
    "maxPasses": 3
  },
  "flow": {
    "controlFlow": {
      "enable": true,
      "minDispatcherChainLength": 1,
      "maxDispatcherChainLength": 3
    },
    "dataFlow": false
  },
  "references": {
    "encryption": {
      "enable": false,
      "firstClassOnly": false
    },
    "proxy": {
      "enable": false,
      "minDepth": 1,
      "maxDepth": 3
    }
  }
}